* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #7fa99b;
  --secondary-color: white;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: white;
}

.btn-branding-outline {
  background-color: #394a51;
  margin: 25px;
  border-radius: 4px;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  border: 1px solid var(--primary-color);
}